/**PAGINA CONTACTO**/

#formulario {
    @include flex-column-center;
}


@media screen and (max-width: $pantalla-xs) {
    #formulario {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.leyenda_form {
    font-size: $fuente-mediana;
    font-weight: bold;
}

.leyenda_form1 {
    font-size: $fuente-chica;
    margin: calc($separacion - 8.5rem);
}

.leyenda_form2 {
    font-size: $fuente-xchica;
}
#nombre{
    font-size: $fuente-xchica;
}

#apellido{
    font-size: $fuente-xchica;
}

#Contrasena{
    font-size: $fuente-xchica;
}

#email{
    font-size: $fuente-xchica;
}

.fondo_form {
    
    background-color: gray;
    padding: 1rem;
    border-radius: 10px;
    color: whitesmoke;
    
}

input:focus {
    width: 300px;
    outline: none;
}

