/**PAGINA INICIO**/

/*Banner*/
#banner-inicio {
    background-color: lightblue;
    margin-top: 1.5rem;
    padding: 2rem;
    color: black;
    border-radius: 8px;
    font-size: 1.5rem;

    h2 {
        text-align: center;
    }
}


.banners_caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner-nosotros {
    background-color: #eaeaea;
    margin-top: 1.5rem;
    padding: 2rem;
    color: black;
    border-radius: 8px;

    h2 {
        text-align: center;
    }
}

.imagen-inicio {
    width: 60rem;
    height: 30rem;

}

.parrafo_inicio {
    font-size: 1.5rem;

}


#ubic-google {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mapa{
    width: 60%;
}


#horarios {
    text-align: center;
    margin-top: 2rem;
    border-radius: 8px;
    font-size: 1.5rem;

}

.titulo_ubicyhorario {
    background-color: crimson;
    color: whitesmoke;
    margin-bottom: 2rem;
}

.contenedor-opciones {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenedor-labels {
    display: flex;
    gap: 30px;
}

.boton-saber {
    background-color: crimson;
    color: whitesmoke;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

.contenedor-labels label {
    background-color: gray;
    color: whitesmoke;
    padding: 5px 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    font-size: 1.5rem;
}

.contenedor-botones a {
    display: none;
}


#sitio-web,
#whatsapp {
    display: none;
}


#sitio-web:checked ~ .contenedor-botones .web{
    display: block;
}

#whatsapp:checked ~ .contenedor-botones .wapp{
    display: block;
}

